<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <main class="container my-4">
            <div th:replace="~{practica01/fragmentos :: tablaArboles}"></div>
        </main>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>